<contexts>
	<context id="speceditor" title="Tapestry Specification Editor">
		<description>A Tapestry aware XML Editor</description>
		 <topic label="Introduction" href="docs/spec_editor.html"></topic>
		 <topic label="ON-The-Fly Parsing and Problem Annotations" href="docs/spec_editor.html#asyoutype"></topic>
		 <topic label="XML Syntax Completion" href="docs/spec_editor.html#completion"></topic>
		 <topic label="Syntax completion in attribute values" href="docs/spec_editor.html#components"></topic>
		 <topic label="Special Completions" href="docs/spec_editor.html#special"></topic>
		 <topic label="Keybindings" href="docs/spec_editor.html#keys"></topic>
	</context>
	<context id="templateeditor" title="Tapestry Template Editor">
		<description>A Tapestry aware template Editor (often used to edit .html files)</description>
		 <topic label="Introduction" href="docs/template_editor.html"></topic>
		 <topic label="HTML specific" href="docs/template_editor.html#html"></topic>
		 <topic label="ON-The-Fly Parsing and Problem Annotations" href="docs/template_editor.html#asyoutype"></topic>
		 <topic label="Syntax Completion" href="docs/template_editor.html#completion">
		 	<topic label="Within 'jwcid' attribute" href="docs/template_editor.html#jwcid"></topic>
		 	<topic label="Syntax completion for component attributes" href="docs/template_editor.html#components"></topic>
		</topic>
		<topic label="Hover Information" href="docs/template_editor.html#hover"></topic>
		<topic label="Keybindings" href="docs/template_editor.html#keys"></topic>
	</context>
	<context id="projectwizard" title="Tapestry Project Wizard">
		<description>A wizard for creating Tapestry projects</description>
		 <topic label="The Wizard" href="docs/project_wizard.html"></topic>
	</context>
	<context id="componentwizard" title="Tapestry Page/Component Wizard">
		<description>A wizard for creating Tapestry pages and components</description>
		 <topic label="Invoking" href="docs/component_wizard.html"></topic>
		 <topic label="Page 1 - Name an locate" href="docs/component_wizard.html#page1"></topic>
		 <topic label="Page 2 - Choose/Create Class" href="docs/component_wizard.html#page2"></topic>		 
		 <topic label="Advanced Options" href="docs/component_wizard.html#advanced"></topic>
	</context>	
</contexts>
