<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.iw.plugins.spindle.ui"
   name="Spindle UI plugin"
   version="0.0.6"
   provider-name="Intelligent Works Inc."
   class="com.iw.plugins.spindle.UIPlugin">

   <runtime>
      <library name="spindle_ui.jar"/>
   </runtime>
   <requires>
      <import plugin="com.iw.plugins.spindle.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="net.sf.solareclipse.ui"/>
      <import plugin="net.sf.solareclipse.xml.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tapestry"
            class="com.iw.plugins.spindle.ui.properties.ProjectPropertyPage"
            id="CorePropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            adaptable="true"
            label="Indicator for Tapestry Projects"
            state="true"
            class="com.iw.plugins.spindle.ui.decorators.ProjectDecorator"
            id="com.iw.plugins.spindle.ui.projectDecorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            adaptable="true"
            label="Indicator for the context root of Tapestry Projects"
            state="true"
            class="com.iw.plugins.spindle.ui.decorators.ContextRootDecorator"
            id="com.iw.plugins.spindle.ui.contextDecorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Spindle 3.0"
            class="com.iw.plugins.spindle.ui.preferences.SpindleDTDCachingPreferencePage"
            id="SpindlePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Tapestry Framework (plugin default)"
            class="com.iw.plugins.spindle.ui.classpath.CoreContainerWizardPage"
            id="com.iw.plugins.spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Tapestry"
            id="com.iw.plugins.spindle.ui.new">
      </category>
      <wizard
            name="Tapestry Web Project"
            icon="./icons/basic/application16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.project.NewTapestryProjectWizard"
            project="true"
            id="com.iw.plugins.spindle.ui.new_project_wizard">
         <description>
            Create a new Tapestry Web Project
         </description>
      </wizard>
      <wizard
            name="Tapestry Component"
            icon="./icons/basic/component16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.NewTapComponentWizard"
            id="com.iw.plugins.spindle.ui.new_jwc_wizard">
         <description>
            Create a new Tapestry Component
         </description>
      </wizard>
      <wizard
            name="Tapestry Page"
            icon="./icons/basic/page16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.NewTapPageWizard"
            id="com.iw.plugins.spindle.ui.new_page_wizard">
         <description>
            Create a new Tapestry Page
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Tapestry Template Editor"
            default="false"
            icon="./icons/basic/html16.gif"
            extensions="htm,html"
            contributorClass="com.iw.plugins.spindle.editors.template.TemplateEditorContributor"
            class="com.iw.plugins.spindle.editors.template.TemplateEditor"
            id="com.iw.plugins.spindle.editors.template">
      </editor>
      <editor
            name="Tapestry Spec Editor"
            default="false"
            icon="./icons/basic/application16.gif"
            extensions="application, page, jwc, library"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="com.iw.plugins.spindle.editors.spec.SpecEditor"
            id="com.iw.plugins.spindle.editors.spec">
      </editor>
   </extension>

</plugin>
