<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.iw.plugins.spindle.ui"
   name="Spindle UI plugin"
   version="0.0.39"
   provider-name="Intelligent Works Inc."
   class="com.iw.plugins.spindle.UIPlugin">

   <runtime>
      <library name="spindle_ui.jar"/>
      <library name="xmen.jar"/>
   </runtime>
   <requires>
      <import plugin="com.iw.plugins.spindle.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="net.sf.solareclipse.ui"/>
      <import plugin="net.sf.solareclipse.xml.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.update.ui.forms"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.compare"/>
   </requires>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tapestry"
            class="com.iw.plugins.spindle.ui.properties.ProjectPropertyPage"
            id="CorePropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            adaptable="true"
            label="Indicator for Tapestry Projects"
            state="true"
            class="com.iw.plugins.spindle.ui.decorators.ProjectDecorator"
            id="com.iw.plugins.spindle.ui.projectDecorator">
         <description>
            Indicates projects that have the Tapestry nature
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            adaptable="true"
            label="Indicator for the context root of Tapestry Projects"
            state="true"
            class="com.iw.plugins.spindle.ui.decorators.ContextRootDecorator"
            id="com.iw.plugins.spindle.ui.contextDecorator">
         <description>
            Indicates the path to the project&apos;s context root
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="Extra information for Tapestry Projects"
            state="true"
            class="com.iw.plugins.spindle.ui.decorators.ProjectInfoDecorator"
            id="com.iw.plugins.spindle.ui.projectInfoDecorator">
         <description>
            Shows the application specification, or the build state of the project
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Spindle 3"
            class="com.iw.plugins.spindle.ui.preferences.SpindleGeneralPreferencePage"
            id="SpindlePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Tapestry Framework (plugin default)"
            class="com.iw.plugins.spindle.ui.classpath.CoreContainerWizardPage"
            id="com.iw.plugins.spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Tapestry"
            id="com.iw.plugins.spindle.ui.new">
      </category>
      <wizard
            name="Tapestry Web Project"
            icon="./icons/basic/application16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.project.NewTapestryProjectWizard"
            project="true"
            id="com.iw.plugins.spindle.ui.new_project_wizard">
         <description>
            Create a new Tapestry Web Project
         </description>
      </wizard>
      <wizard
            name="Tapestry Component"
            icon="./icons/basic/component16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.NewTapComponentWizard"
            id="com.iw.plugins.spindle.ui.new_jwc_wizard">
         <description>
            Create a new Tapestry Component
         </description>
      </wizard>
      <wizard
            name="Tapestry Page"
            icon="./icons/basic/page16.gif"
            category="com.iw.plugins.spindle.ui.new"
            class="com.iw.plugins.spindle.ui.wizards.NewTapPageWizard"
            id="com.iw.plugins.spindle.ui.new_page_wizard">
         <description>
            Create a new Tapestry Page
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Tapestry Template Editor"
            default="false"
            icon="./icons/basic/html16.gif"
            extensions="htm,html"
            contributorClass="com.iw.plugins.spindle.editors.template.TemplateEditorContributor"
            class="com.iw.plugins.spindle.editors.template.TemplateEditor"
            id="com.iw.plugins.spindle.ui.editors.template">
      </editor>
      <editor
            name="Tapestry Spec Editor"
            default="false"
            icon="./icons/basic/application16.gif"
            extensions="application, page, jwc, library"
            contributorClass="com.iw.plugins.spindle.editors.spec.SpecEditorContributor"
            class="com.iw.plugins.spindle.editors.spec.SpecEditor"
            id="com.iw.plugins.spindle.ui.editors.spec">
      </editor>
   </extension>
<!--
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="com.iw.plugins.spindle.project.popupMenus.project">
         <menu
               label="Tapestry"
               id="org.eclipse.ui.popupMenus.project.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Open Application Specification"
               class="com.iw.plugins.spindle.project.actions.JumpToApplicationSpecAction"
               menubarPath="org.eclipse.ui.popupMenus.project.menu1/group1"
               enablesFor="1"
               id="com.iw.plugins.spindle.project.popupMenus.project.JumpToTapestryProjectAction">
         </action>

      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.html"
            id="com.iw.plugins.spindle.popupMenus">
         <menu
               label="Spindle"
               id="com.iw.plugins.spindle.popupMenus.createComponents">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Create Tapestry Component"
               icon="icons/full/component16_dark.gif"
               class="com.iw.plugins.spindle.wizards.extra.CreateComponentFromTemplateAction"
               menubarPath="com.iw.plugins.spindle.popupMenus.createComponents/group1"
               enablesFor="+"
               id="com.iw.plugins.spindle.popupMenus.createComponents.componentFromTemplate">
         </action>
         <action
               label="Create Tapestry Page"
               icon="icons/full/page16.gif"
               class="com.iw.plugins.spindle.wizards.extra.CreatePageFromTemplateAction"
               menubarPath="com.iw.plugins.spindle.popupMenus.createComponents/group1"
               enablesFor="+"
               id="com.iw.plugins.spindle.popupMenus.createComponents.pageFromTemplate">
         </action>
      </objectContribution>
     <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.jwc"
            id="com.iw.plugins.spindle.popupMenus">
         <menu
               label="Spindle"
               id="com.iw.plugins.spindle.popupMenus.convert">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Convert to Tapestry Page (.page)"
               icon="icons/full/page16.gif"
               class="com.iw.plugins.spindle.wizards.extra.ConvertComponentIntoPageAction"
               menubarPath="com.iw.plugins.spindle.popupMenus.convert/group1"
               enablesFor="1"
               id="com.iw.plugins.spindle.popupMenus.convert.ConvertToTapestryPage">
         </action>         
      </objectContribution>

   </extension> -->
   <extension
         point="org.eclipse.ui.commands">
<!-- define a scope so that the command will work only in our editor! -->
      <scope
            name="TapestryEditorScope"
            parent="org.eclipse.ui.textEditorScope"
            description="scope for key bidings only seen by Tapestry editors"
            id="com.iw.plugins.spindle.ui.editor.commands">
      </scope>
<!-- define a format command that we will associate with the key binding Ctrl-Shift-F -->
      <command
            name="Format"
            description="Format this file"
            category="source"
            id="com.iw.plugins.spindle.ui.editor.commands.format">
      </command>
      <command
            name="Jump to Java"
            description="Jump to the java source (if possible)"
            category="jump"
            id="com.iw.plugins.spindle.ui.editor.commands.jump.java">
      </command>
      <command
            name="Jump to Specification"
            description="Jump to the specification file (if possible)"
            category="jump"
            id="com.iw.plugins.spindle.ui.editor.commands.jump.spec">
      </command>
      <command
            name="Jump to Template"
            description="Jump to the template file (if possible)"
            category="jump"
            id="com.iw.plugins.spindle.ui.editor.commands.jump.template">
      </command>
      <command
            name="Show Outline"
            description="Show an outline of the XML (if possible)"
            category="source"
            id="com.iw.plugins.spindle.ui.editor.xml.show.outline">
      </command>
      <keyBinding
            string="Ctrl+O"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.xml.show.outline"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Open Structure"
            description="Open the structure of a Tapestry spec (if possible)"
            category="source"
            id="com.iw.plugins.spindle.ui.editor.xml.open.structure">
      </command>
      <keyBinding
            string="Ctrl+F3"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.xml.open.structure"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- the key binding -->
      <keyBinding
            string="Ctrl+Shift+F"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.commands.format"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+F8"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.commands.jump.java"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+F7"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.commands.jump.spec"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+F6"
            scope="com.iw.plugins.spindle.ui.editor.commands"
            command="com.iw.plugins.spindle.ui.editor.commands.jump.template"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+F7"
            scope="org.eclipse.jdt.ui.javaEditorScope"
            command="com.iw.plugins.spindle.ui.editor.commands.jump.spec"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+F6"
            scope="org.eclipse.jdt.ui.javaEditorScope"
            command="com.iw.plugins.spindle.ui.editor.commands.jump.template"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="com.iw.plugins.spindle.ui.cu.editor.jump">
         <action
               definitionId="com.iw.plugins.spindle.ui.editor.commands.jump.spec"
               label="Jump to spec for CU editors"
               class="com.iw.plugins.spindle.editors.actions.CUEditorJumpToSpecDelegate"
               enablesFor="*"
               id="com.iw.plugins.spindle.editors.cu.jump.spec">
         </action>
         <action
               definitionId="com.iw.plugins.spindle.ui.editor.commands.jump.template"
               label="Jump to template for CU editors"
               class="com.iw.plugins.spindle.editors.actions.CUEditorJumpToTemplateDelegate"
               enablesFor="*"
               id="com.iw.plugins.spindle.editors.cu.jump.template">
         </action>
      </editorContribution>
   </extension>

</plugin>
