<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.iw.plugins.spindle.ui"
   name="Spindle UI plugin"
   version="3.1.21"
   provider-name="Geoffrey Longman"
   class="com.iw.plugins.spindle.UIPlugin">

   <runtime>
      <library name="spindle_ui.jar">
         <export name="*"/>
      </library>
      <library name="xmen.jar"/>
      <library name="lib/commons-io-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/jdom.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="spindle.core" export="true"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="net.sf.solareclipse.ui"/>
      <import plugin="net.sf.solareclipse.xml.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

<extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tapestry"
            class="com.iw.plugins.spindle.ui.properties.ProjectPropertyPage"
            id="com.iw.plugins.spindle.ui.contrib.properties.CorePropertyPage">         
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>      
	</extension>

   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Tapestry Framework (plugin default)"
            class="com.iw.plugins.spindle.ui.classpath.CoreContainerWizardPage"
            id="spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerPage>
   </extension>
   
<!--
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="com.iw.plugins.spindle.adapters.StorageEditorInputAdapterFactory"
            adaptableType="org.eclipse.jdt.internal.ui.javaeditor.JarEntryEditorInput">
         <adapter type="org.eclipse.core.resources.IStorage"/>
      </factory>
   </extension>
   -->
</plugin>
