<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="componentTypeResolver" name="Component Type Resolvers" schema="schema/componentTypeResolver.exsd"/>
   <extension-point id="incrementalBuildVeto" name="Option to veto an incremental build" schema="schema/incrementalBuildVeto.exsd"/>
   <extension-point id="beanSpecificationValidators" name="Contributed Validators for Tapestry Bean Specs" schema="schema/beanSpecificationValidators.exsd"/>
   <extension-point id="projectMetaDataLocator" name="Web Project Metadata Locator" schema="schema/projectMetaDataLocator.exsd"/>

   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="jwc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="page">
      </fileTypes>
      <fileTypes
            type="text"
            extension="library">
      </fileTypes>
      <fileTypes
            type="text"
            extension="application">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xml">
      </fileTypes>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.spindle.core.eclipse.PreferenceInitializer"/>
   </extension>

   <extension
         id="tapestrynature"
         name="Tapestry Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.spindle.core.eclipse.TapestryProject">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="tapestrybuilder"
         name="Tapestry Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="net.sf.spindle.core.builder.TapestryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="Tapestry Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker"/>
      <super
            type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true"/>
      <attribute name="code"/>
   </extension>
   <extension
         id="buildBroken"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>     
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="fatalproblemmarker"
         name="Tapestry Fatal Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>
     
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="problemmarker.source"
         name="Tapestry Parser Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>
      
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="net.sf.spindle.core.classpath.CoreClasspathContainerInitializer"
            id="com.iw.plugins.spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerInitializer>
   </extension>
   <extension         
         name="Spindle Core Adapter Factories"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="net.sf.spindle.core.eclipse.adapters.SpindleProjectAdapterFactory">
         <adapter type="net.sf.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IStorage"
            class="net.sf.spindle.core.eclipse.adapters.SpindleProjectAdapterFactory">
         <adapter type="net.sf.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>      
       <factory
            adaptableType="org.eclipse.ui.IFileEditorInput"
            class="net.sf.spindle.core.eclipse.adapters.SpindleProjectAdapterFactory">
         <adapter type="net.sf.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>
    </extension>
</plugin>
