<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Spindle, an Eclipse plugin for Tapestry</title>
<style type="text/css">
 BODY, P, DIV, TD, TR, OL, UL, LI,  A {
     font-family: Verdana, Tahoma, Arial, Helvetica;
  font-size : 12px;
   }
   
    TT {
 font-size : 130%;
    }
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<img src="headerBkgII.jpg" alt="Spindle logo" width="1000" height="80"> <br>

<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tbody>
    <tr>
    <td>
	 <br>
	  <h1><font color="#c0c0c0">Spindle Filesystem Update Site - Spindle @version@</font></h1>
	  
	  <p>Welcome to the Spindle Update Site. This site contains the feature and plug-in versions for the Spindle project release you have downloaded and 
        extracted, published in the form expected by the Eclipse Update Manager. </p>
      <p>Use the Update Manager's Feature Updates view to open this site by navigating to directory containing this file. Online updates are always available 
        by going to (<a href="http://spindle.sourceforge.net/updates">http://spindle.sourceforge.net/updates</a>). Spindle project downloads (including 
        the archive containing this page) can also be obtained by pointing a web browser <a href="http://sourceforge.net/project/showfiles.php?group_id=50321">here</a></p>
      <p>More readme information (including release notes) is available after you update Eclipse by looking in ECLIPSE/plugins/com.iw.plugins.spindle_@version@/ReadMe.html.</p>
      <p> Spindle is an open source project, hosted on the <a href="http://sourceforge.net/projects/spindle">SourceForge</a> 
        and licensed under the <a href="http://www.mozilla.org/MPL/"> Mozilla 
        Public License, Version 1.1</a> . </p>
       <br>
       <p>More instructions on how to install this update are available at <a href="http://spindle.sourceforge.net/install/">http://spindle.sourceforge.net/install/</a>
    </td>
    </tr>
  </tbody>
</table>
</body>
</html>
