<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.iw.plugins.spindle.docs"
   name="com.iw.plugins.spindle.docs"
   version="0.0.10"
   provider-name="Intelligent Works Incorporated">

   <runtime>
   </runtime>
   <requires>
      <import plugin="com.iw.plugins.spindle.ui"/>
   </requires>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
