<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.iw.plugins.spindle.docs"
   name="Spindle 3 Documentation"
   version="0.1.19"
   provider-name="Geoffrey Longman">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>

   <!-- 
   	extensions to "org.eclipse.help.toc" are made in
   	fragments to allow for customized content.
   	
   	see fragment com.iw.plugins.spindle.doc.default
   	for an example customized for the default SF install
   -->    

</plugin>
