<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.iw.plugins.spindle.docs"
   name="Spindle 3 Documentation"
   version="3.2.5"
   provider-name="Geoffrey Longman">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>  

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
