<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.iw.plugins.spindle.core"
   name="Spindle Core Plugin"
   version="3.2.0"
   provider-name="Geoffrey Longman"
   class="com.iw.plugins.spindle.core.TapestryCore">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
      <library name="dtdparser.jar">
         <export name="*"/>
      </library>
      <library name="lib/tapestry-3.0.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/tapestry-contrib-3.0.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/bsf-2.3.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-beanutils-1.6.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-codec-1.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-collections-2.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-digester-1.5.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-fileupload-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/spindle/commons-lang-cvs-HEAD.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/commons-logging-1.0.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/jakarta-oro-2.0.6.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/javassist-2.5.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/ext/ognl-2.6.7.jar">
         <export name="*"/>
      </library>
      <library name="lib/j2ee/javax.servlet.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.jdt.core" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.apache.xerces" export="true"/>
      <import plugin="org.eclipse.jface.text"/> 
      <import plugin="org.eclipse.core.runtime" export="true"/>
   </requires>
   <extension-point id="componentTypeResolver" name="Component Type Resolvers" schema="schema/componentTypeResolver.exsd"/>
   <extension-point id="incrementalBuildVeto" name="Option to veto an incremental build" schema="schema/incrementalBuildVeto.exsd"/>
   <extension-point id="beanSpecificationValidators" name="Contributed Validators for Tapestry Bean Specs" schema="schema/beanSpecificationValidators.exsd"/>
   <extension-point id="projectMetaDataLocator" name="Web Project Metadata Locator" schema="schema/projectMetaDataLocator.exsd"/>

   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="jwc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="page">
      </fileTypes>
      <fileTypes
            type="text"
            extension="library">
      </fileTypes>
      <fileTypes
            type="text"
            extension="application">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xml">
      </fileTypes>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.iw.plugins.spindle.core.PreferenceInitializer"/>
   </extension>

   <extension
         id="tapestrynature"
         name="Tapestry Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.iw.plugins.spindle.core.TapestryProject">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="tapestrybuilder"
         name="Tapestry Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.iw.plugins.spindle.core.builder.TapestryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="Tapestry Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker"/>
      <super
            type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true"/>
      <attribute name="code"/>
   </extension>
   <extension
         id="buildBroken"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>     
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="fatalproblemmarker"
         name="Tapestry Fatal Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>
     
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="problemmarker.source"
         name="Tapestry Parser Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.iw.plugins.spindle.core.problemmarker">
      </super>
      
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.iw.plugins.spindle.core.classpath.CoreClasspathContainerInitializer"
            id="com.iw.plugins.spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerInitializer>
   </extension>
   <extension         
         name="Spindle Core Adapter Factories"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.iw.plugins.spindle.core.adapters.SpindleProjectAdapterFactory">
         <adapter type="com.iw.plugins.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IStorage"
            class="com.iw.plugins.spindle.core.adapters.SpindleProjectAdapterFactory">
         <adapter type="com.iw.plugins.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>      
       <factory
            adaptableType="org.eclipse.ui.IFileEditorInput"
            class="com.iw.plugins.spindle.core.adapters.SpindleProjectAdapterFactory">
         <adapter type="com.iw.plugins.spindle.core.ITapestryProject"/>
         <adapter type="org.eclipse.core.resources.IProject"/>
         <adapter type="org.eclipse.jdt.core.IJavaProject"/>
      </factory>
    </extension>
</plugin>
