<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.iw.plugins.spindle.core"
   name="Spindle Core Plugin"
   version="0.0.1"
   provider-name="Intelligent Works Inc."
   class="com.iw.plugins.spindle.core.TapestryCore">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
      <library name="commons-digester-1.4.jar">
         <export name="*"/>
      </library>
      <library name="commons-logging-1.0.2.jar">
         <export name="*"/>
      </library>
      <library name="commons-beanutils-1.6.1.jar">
         <export name="*"/>
      </library>
      <library name="commons-collections-2.1.jar">
         <export name="*"/>
      </library>
      <library name="commons-fileupload-1.0.jar">
         <export name="*"/>
      </library>
      <library name="commons-lang-1.0.jar">
         <export name="*"/>
      </library>
      <library name="jakarta-oro-2.0.6.jar">
         <export name="*"/>
      </library>
      <library name="javassist-2.5.1.jar">
         <export name="*"/>
      </library>
      <library name="javax.servlet.jar">
         <export name="*"/>
      </library>
      <library name="ognl-2.5.1.jar">
         <export name="*"/>
      </library>
      <library name="tapestry-3.0-beta-2.jar">
         <export name="*"/>
      </library>
      <library name="tapestry-contrib-3.0-beta-2.jar">
         <export name="*"/>
      </library>
      <library name="bsf-2.3.0.jar">
         <export name="*"/>
      </library>
      <library name="dtdparser.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources" export="true" version="2.1.0" match="greaterOrEqual"/>
      <import plugin="org.eclipse.jdt.core" export="true" version="2.1.0" match="greaterOrEqual"/>
      <import plugin="org.eclipse.ui" export="true" version="2.1.0" match="greaterOrEqual"/>
      <import plugin="org.apache.xerces" export="true" version="4.0.7" match="compatible"/>
   </requires>


   <extension
         id="tapestrynature"
         name="Tapestry Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.iw.plugins.spindle.core.TapestryProject">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="tapestrybuilder"
         name="Tapestry Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.iw.plugins.spindle.core.builder.TapestryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="TapestryProblem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="buildBroken"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="fatalproblemmarker"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="problemmarker.source"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.iw.plugins.spindle.core.classpath.CoreClasspathContainerInitializer"
            id="com.iw.plugins.spindle.core.TAPESTRY_FRAMEWORK">
      </classpathContainerInitializer>
   </extension>

</plugin>
