<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.iw.plugins.spindle.core"
   name="Spindle Core Plugin"
   version="0.0.1"
   provider-name="Intelligent Works Inc."
   class="com.iw.plugins.spindle.core.TapestryCore">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
      <library name="tapestry-2.4.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tapestry"
            class="com.iw.plugins.spindle.core.properties.CorePropertyPage"
            id="CorePropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         id="tapestrynature"
         name="Tapestry Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.iw.plugins.spindle.core.TapestryProject">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="tapestrybuilder"
         name="Tapestry Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.iw.plugins.spindle.core.TapestryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="TapestryProblem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="buildBroken"
         name="Tapestry Build Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
