<?xml version="1.0" encoding="UTF-8"?>
<site>
   <description>
      Static update site for Spindle @version@
   </description>
   <feature url="features/com.iw.features.spindle_@version@.jar" id="com.iw.features.spindle" version="@version@">
      <category name="spindle_latest"/>
   </feature>
   <category-def name="spindle_latest" label="Spindle">
      <description>
          Spindle
      </description>
   </category-def>
</site>
